<?xml version="1.0"?>
<!-- 
config.xml
-->
<config>
	<modules>
		<SagePayNow_SagePayNow>
			<version>0.1.0</version>
		</SagePayNow_SagePayNow>
	</modules>
	<global>
		<blocks>
			<sagepaynow>
				<class>SagePayNow_SagePayNow_Block</class>
			</sagepaynow>
		</blocks>
		<helpers>
			<sagepaynow>
				<class>SagePayNow_SagePayNow_Helper</class>
			</sagepaynow>
		</helpers>
		<models>
			<sagepaynow>
				<class>SagePayNow_SagePayNow_Model</class>
			</sagepaynow>
		</models>
		<resources>
			<sagepaynow_setup>
				<setup>
					<module>SagePayNow_SagePayNow</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sagepaynow_setup>
			<newmodule_write>
				<connection>
					<use>core_write</use>
				</connection>
			</newmodule_write>
			<newmodule_read>
				<connection>
					<use>core_read</use>
				</connection>
			</newmodule_read>
		</resources>
    </global>
	
	<frontend>
		<routers>
			<sagepaynow> 
				<use>standard</use>
				<args>
					<module>SagePayNow_SagePayNow</module>
					<frontName>sagepaynow</frontName>
				</args>
			</sagepaynow>
		</routers>
	</frontend>
 
	<default>
		<payment>
			<sagepaynow>
				<model>sagepaynow/standard</model>
				<active>0</active>
				<title><![CDATA[SagePayNow]]></title>
				<server>test</server>
				<debugging>0</debugging>
			</sagepaynow>
		</payment>
	</default>
</config>